// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 24;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}

@mixin base-title {
  font-size: size(60);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(72);
}
@mixin middle-text {
  font-size: size(30);
  line-height: size(32);
}
@mixin offer-text {
  font-size: size(36);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
}
@mixin base-text {
  color: #292929;
  font-size: size(24);
  line-height: size(45);
  font-weight: 300;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -2rem;
  }
}
@mixin input-style {
  height: size(80);
  border: 1px solid #acacac;
  background-color: transparent;
  background-size: size(52);
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
  padding-right: size(80);
}
@mixin input-text {
  font-family: $rubik;
  color: #1e1e21;
  font-size: size(27);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
@mixin submit-style {
  font-family: $rubik;
  font-weight: 400;
  font-size: size(37);
  text-align: center;
  background-position: 6px;
  height: size(81);
  background-repeat: no-repeat;
  background-size: size(64);
  padding-left: size(75);
  background-color: #2a2928;
  color: #ffffff;
}
@keyframes rotating {
  0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
  }
}
