/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1700px) {
  html{
	font-size: 24px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 18px;
  }
  .container {
	max-width: 90%;
  }
  .item-gal {
	margin: 0 size(10) size(20) size(10);
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .base-title, .gallery-title {
	font-size: size(40);
	line-height: size(42);
  }
  .base-output {
	h1, h2 {
	  font-size: size(40);
	  line-height: size(42);
	}
	h3 {
	  font-size: size(36);
	  line-height: size(38);
	}

	h4 {
	  font-size: size(32);
	  line-height: size(32);
	}

	h5 {
	  font-size: size(28);
	  line-height: size(30);
	}
	h6 {
	  font-size: size(25);
	  line-height: size(26);
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .img-col {
	&:after {
	  padding-bottom: 65%;
	  content: '';
	  display: block;
	}
  }
  .benefit-row:nth-child(even) {
	flex-direction: row;
  }
  .benefit-row {
	flex-direction: column-reverse !important;
	margin-bottom: 2rem;
  }
  .benefit-text-wrap {
	padding: 3% 0;
  }
  .count-col {
	margin-bottom: 2rem;
  }
  .item-gal {
	margin: 0 0 size(20) 0 !important;
	&:after {
	  padding-bottom: 65% !important;
	}
  }
  .main-text {
	font-size: size(41);
	line-height: size(44);
	margin-bottom: size(20);
  }
  .pop-trigger {
	.offer-text {
	  font-size: size(22);
	  line-height: size(24);
	}
	img {
	  width: size(30);
	}
	height: size(60);
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  #go-top {
	right: 1rem;
	top: 2rem;
  }
  .arrow-top-wrap {
	height: size(52);
  }
  .to-top-text {
	margin-top: size(13);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .pop-trigger {
	width: auto;
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(30);
	line-height: size(32);
  }
  .fixed-tel {
	display: flex;
	justify-content: center;
	align-items:center;
	svg {
	  width: size(55);
	}
  }
  .float-form {
	padding: 4rem 10%;
	.form-title {
	  font-size: size(26);
	  line-height: size(28);
	}
	.form-text {
	  font-size: size(20);
	  line-height: size(22);
	}
	div.wpcf7 input[type="text"],
	div.wpcf7 input[type="tel"],
	div.wpcf7 select {
	  height: unset;
	  min-height: size(60);
	  background-size: size(42);
	  background-position: calc(100% - 8px);
	  padding-right: size(60);
	}
	div.wpcf7 select {
	  background-position: 8px center;
	  padding-right: 8px;
	}
	div.wpcf7 input[type="submit"] {
	  font-size: size(25);
	  line-height: size(30);
	  padding: 8px;
	  min-height: size(60);
	  white-space: normal;
	}
  }
  .blue-form-block {
	.submit-col {
	  &:before {
		display: none;
	  }
	}
  }
}







/*
::::: Custom media queries :::::
*/
@media (max-width: 470px) {
  .in-video-text {
	width: 90%;
  }
  .main-text {
	font-size: size(32);
	line-height: size(34);
	margin-bottom: size(10);
	letter-spacing: 2px;
  }
  .pop-trigger {
	height: size(45);
	img {
	  width: size(24);
	  margin-left: 5px;
	}
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(28);
	line-height: size(30);
	background-image: none;
	padding: 8px;
  }
  .middle-link {
	font-size: size(29);
	line-height: size(32);
  }
  div.wpcf7 select {
	padding-right: 14px;
  }
}
@media (max-width: 370px) {
  .count-col {
	flex: 0 0 80%;
	max-width: 80%;
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(25);
	line-height: size(25);
  }
  div.wpcf7 select {
	background-position: 4px center;
  }
}
