.dev-msg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #dc3232!important;
    color: #fff;
}
.dev-msg a, .dev-msg p{
    color: #fff;
    margin: 0!important;
    font-size: 22px;
}