@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";



body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.fixed-tel {
  display: none;
  position: fixed;
  z-index: 99;
  right: 2%;
  bottom: 5%;
  background-image: linear-gradient(to top, #477fdd 0%, #175dd5 100%);
  border-radius: 50%;
  width: size(60);
  height: size(60);
  animation: jump 1.2s ease-in-out alternate infinite;
}
.base-title {
  @include base-title;
}
.base-text {
  @include base-text;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #10172e;
  }
  h1, h2 {
	@include base-title;
  }
  h3 {
	font-size: size(50);
	line-height: size(52);
  }
  h4 {
	font-size: size(44);
	line-height: size(42);
  }
  h5 {
	font-size: size(38);
	line-height: size(40);
  }
  h6 {
	@include middle-text;
  }
  p, li {
	@include base-text;
  }
  li {
	list-style: disc;
	margin-right: 1rem;
  }
  ul {
	margin: 1rem 0;
  }
}
//Forms
.form-title {
  color: #2869d8;
  text-align: center;
}
.form-text {
  color: #1e1e21;
  text-align: center;
  margin-bottom: size(45);
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 select {
  -webkit-appearance: none;
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="tel"],
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 input[type="submit"] {
  @include submit-style;
  border: none;
  background-image: url("../icons-all/form-submit-dark.png");
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
div.wpcf7 input[type="text"] {
  background-image: url("../icons-all/form-name-white.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../icons-all/form-tel-white.png");
}
div.wpcf7 select {
  background-image: url("../icons-all/form-select-white.png");
  padding-left: size(90);
  background-position: size(25) center;
  white-space: normal;
  line-height: 1rem;
}
.pt-pb-100 {
  padding-top: size(100);
  padding-bottom: size(100);
}
.blue-form-block {
  box-shadow: 4px 7px 87px 8px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  div.wpcf7 input[type="submit"] {
	background-color: #ffffff;
	background-image: $grad;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  div.wpcf7 input[type="text"] {
	background-image: url("../icons-all/form-name.png");
  }
  div.wpcf7 input[type="tel"] {
	background-image: url("../icons-all/form-tel.png");
  }
  div.wpcf7 select {
	background-image: url("../icons-all/form-select.png");
  }
}
//Header
header {
  background-color: #212020;
  padding: 5px;
}
.offer-text {
  @include offer-text;
  text-align: center;
  color: #ffffff;
}
.header-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s;
  &:hover {
	color: #ffffff;
	transform: scale(1.25, 1.25);
	transition: transform .5s;
  }
  svg {
	width: size(28);
	margin-right: 5px;
  }
}
.tel-number {
  @include middle-text;
  line-height: size(19);
  color: #ffffff;
}
.offer-line {
  display: none;
  justify-content: center;
  align-items: center;
  padding: size(28);
  width: 100%;
  background-image: $grad;
  cursor: pointer;
  img {
	width: size(41);
	margin-left: size(20);
  }
  &.fixed {
	display: flex;
  }
}
.pop-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $grad;
  padding: size(10) size(30);
  height: size(81);
  border-radius: 10px;
  cursor: pointer;
  width: 75%;
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
  img {
	margin-left: size(20);
	width: size(42);
  }
}
//Main block
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
  }
}
.gen-video-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
	width: 100%;
	height: auto;
  }
}
.in-video-text {
  position: absolute;
  z-index: 99;
  width: 100%;
}
.main-text {
  color: #ffffff;
  font-weight: 300;
  font-size: size(51);
  line-height: size(54);
  margin-bottom: size(30);
  text-align: center;
  letter-spacing: 7.16px;
}
//Benefits
.benefit-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.benefit-text-wrap {
  padding: 15% 5%;
  .base-output {
	h1, h2, h3, h4, h5, h6 {
	  font-weight: 300;
	}
  }
}
.img-col {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: size(562);
}
.benefit-row:nth-child(even) {
  flex-direction: row-reverse;
}
//Block with content
.content-block {
  .base-output {
	h1, h2, h3, h4, h5, h6 {
	  color: #175dd5;
	  font-weight: 300;
	}
  }
}
.block-description {
  margin-bottom: size(40);
  .base-output {
	* {
	  text-align: center;
	}
	h1, h2, h3, h4, h5, h6 {
	  color: #313130;
	  font-weight: 700;
	}
  }
}
//Why us block
.why-us-text {
  @include middle-text;
  text-align: right;
  font-weight: 400;
  color: #1e1e21;
}
.counter-year {
  position: relative;
  &:before {
	position: absolute;
	top: -1rem;
	content: 'מאז';
  }
}
.counter-icon-wrap {
  padding-right: size(48);
  background-size: size(44);
  background-position: 100% center;
  background-repeat: no-repeat;
  min-height: size(45);
}
.counter-num {
  color: #3572d9;
  line-height: 3.5rem;
  text-align: right;
}
.img-content-col {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
	margin-bottom: -10%;
  }
}
.gallery-title {
  color: #000000;
  @include base-title;
  margin-bottom: size(45);
  font-weight: 400;
}
.column-gal {
  display: flex;
  flex-direction: column;
}
.item-gal {
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 size(15) size(30) size(15);
  &:hover .gallery-overlay {
	opacity: 1;
	transition: opacity .5s;
  }
  &:after {
	content: '';
	display: block;
	padding-bottom: 50%;
  }
}
.column-gal:first-child, .column-gal:nth-child(4) {
  .item-gal:first-child:after {
	  padding-bottom: 78%;
  }
  .item-gal:last-child {
	flex-grow: 1;
  }
}
.column-gal:nth-child(3), .column-gal:nth-child(6) {
  .item-gal:first-child {
	flex-grow: 1;
  }
}
.column-gal:nth-child(2), .column-gal:nth-child(5) {
  .item-gal:first-child:after {
	padding-bottom: 60%;
  }
  .item-gal:nth-child(2):after {
	padding-bottom: 60%;
  }
}
.gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("../img/overlay.png");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  overflow-y: auto;
  transition: opacity .5s;
}
.gal-item-title, .gal-item-text {
  font-family: $alef;
  color: #ffffff;
  text-align: right;
  font-weight: 400;
}
.gal-item-title {
  font-size: size(31);
  line-height: size(32);
  margin-bottom: size(10);
}
.gal-item-text {
  font-size: size(24);
  line-height: size(24);
}
//Why us block
.middle-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: size(34);
  line-height: size(32);
  text-align: center;
  color: #ffffff;
  height: size(67);
  box-shadow: 5px 8px 53px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #097dcd;
  padding: size(10) size(64) size(10) size(98);
  cursor: pointer;
  background-image: $grad;
  &:after {
	content: '';
	display: block;
	border-radius: 50%;
	background-color: #ffffff;
	width: size(48);
	height: size(48);
	position: absolute;
	z-index: 2;
	left: 10px;
	background-image: url("../icons-all/arrow-blue.png");
	background-position: center;
	background-size: size(17);
	background-repeat: no-repeat;
  }
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
//Benefits
.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #477fdd 0%, #175dd5 100%);
  width: size(130);
  height: size(130);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: size(25);
  img {
	width: 100%;
  }
}
.benefit-title {
  @include offer-text;
  color: #1f1f1f;
  font-weight: 500;
  text-align: center;
  margin-bottom: size(20);
}
.benefit-text {
  color: #1f1f1f;
  font-size: size(24);
  line-height: size(25);
  text-align: center;
  font-weight: 400;
}
//Footer
.footer-main {
  position: relative;
  padding: size(150) 0;
  background-image: linear-gradient(to top, #477fdd 0%, #175dd5 100%);
  .wpcf7-form {
	::placeholder {
	  color: #ffffff;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  color: #ffffff;
	}
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 select {
	color: #ffffff;
	border: 1px solid #ffffff;
  }
}
.foo-offer {
  font-size: size(37);
  line-height: size(40);
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: size(45);
}
#go-top {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 2rem;
  top: 45%;
  cursor: pointer;
  z-index: 111;
  animation: jump-top 1.2s ease-in-out alternate infinite;
}
.arrow-top-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: size(92);
  img {
	max-height: 100%;
  }
}
.to-top-text {
  color: #fcf9f4;
  font-size: size(21);
  line-height: size(22);
  text-align: center;
  font-weight: 400;
  margin-top: size(33);
}
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  background-color: #ffffff;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: 10%;
}
.float-form.show-form{
  opacity: 1;
  transform: translateY(0);
}
.pop-close {
  position: absolute;
  width: size(30);
  height: size(30);
  top: size(35);
  right: size(35);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  svg * {
	fill: #2869d8;
  }
}
.blue-form-block {
  .submit-col {
	position: relative;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	flex-wrap: wrap;
	&:before {
	  content: '>';
	  color: #ffffff;
	  text-align: center;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: size(32);
	  position: absolute;
	  top: size(9);
	  left: 15px;
	  background-color: #175dd5;
	  width: size(64);
	  height: size(64);
	}
  }
}

@import "responsive";
